<!-- Container (Sobre Mim) -->
<div class="w3-justify-content-center w3-container w3-padding-64" id="sobre">
    <h3 class="w3-center">Sobre Mim</h3>
    <p class="w3-center"><em>Eu amo programação</em></p>

    <p> Sou discente do curso de Tecnologia em Análise e desenvolvimento de sistemas na FIAP e estou participando do
        Bootcamp de Desenvolvimento Web FullStack da Generation Brasil.</p>
    <p> Atuo na área de Tecnologia da Informação desde 2013, com experiência em Suporte Técnico à microinformática. Mas,
        neste momento, busco oportunidade introdutória (vaga de Trainee ou Programador Jr.) em Desenvolvimento de
        software.
    </p>
    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <h4><b>Ivan Carlota</b></h4><br>
            <img src="https://i.imgur.com/d3SBgmf.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off"
                alt="Uma foto minha" width="500" height="333">
        </div>

        <!-- Hide this text on small devices -->
        <div class="w3-col m6 w3-hide-small w3-padding-large mt-3 mb-3">
            <h3>Sou um desenvolvedor Fullstack com afinidade com as seguintes tecnologias:</h3>
            <br>
            <h3>Frontend:</h3>
            <ul>
                <li>HTML5, CSS3, JAVASCRIPT, BOOTSTRAP </li>
                <li>NODEJS, TYPESCRIPT, ANGULAR</li>
            </ul>


            <h3>Backend:</h3>
            <ul>
                <li>JAVA, SPRING FRAMEWORK</li>
            </ul>


            <h3>Banco de dados:</h3>
            <ul>
                <li>MYSQL</li>
            </ul>


            <h3>Metodologias ágeis:</h3>
            <ul>
                <li>SCRUM</li>
                <li>KANBAN</li>
            </ul>


        </div>
    </div>
    
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">0</span><br>
        Parcerias
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">2+</span><br>
        Projetos realizados
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">0</span><br>
        Clientes satisfeitos
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">5+</span><br>
        Visita a meetups
    </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="parallax-2 w3-display-container w3-opacity-min" id="sobre">
    <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Entre em Contato</span>
    </div>
</div>