
/* Create a Parallax Effect */
.parallax-1, .parallax-2, .parallax-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.parallax-1 {
  background-image: url('https://i.imgur.com/vRiX4Md.jpg');
  min-height: 75%;
  width: 100%;
}

.parallax-2 {
  background-image: url('https://i.imgur.com/x1DHqUX.jpg');
  min-height: 75%;
  width: 100%;
}

.card{
  margin: 0 auto;
  background: #0074FF;
  
  
}
.card img:hover{
  border: none;
  background-color: #f5f5f5;
  float: right;
  opacity: 0.9;
  transition: opacity 1s;
  border-radius: 10px;
}

.card h5  {
  font-size: 30px;
  color: #fff;
  /* padding: 10px 12px; */
}

.card p  {
  color: #fff;
  /* padding: 10px 12px; */
}

.card img{
  height: 300px;
  
}



.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .parallax-1, .parallax-2, .parallax-3 {
    background-attachment: scroll;
    min-height: 300px;
  }
}