<!-- Navbar para telas grandes-->
<div class="w3-top">
  <div class="w3-bar w3-right w3-light-grey" id="myNavbar">
    <div class="w3-left ml-3"><img src="../../assets/icons8-caminhão-de-sorvete-64.svg" alt=""></div>
    
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" (click)="menu()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>

      <a routerLink='/home' class="w3-bar-item w3-button w3-hide-small ml-5">INÍCIO</a>
      <a routerLink='/sobre' class="w3-bar-item w3-button w3-hide-small ml-3">SOBRE</a>
      <a routerLink='/contact' class="w3-bar-item w3-button w3-hide-small ml-3">CONTATO</a>
    </div>
  
     <!-- Navbar para telas pequenas -->
    <div id="navDemo" class="w3-bar-block w3-light-grey w3-hide w3-hide-large w3-hide-medium">
      <a routerLink='/home' class="w3-bar-item w3-button" >INÍCIO</a>
      <a routerLink='/sobre' class="w3-bar-item w3-button" >SOBRE</a>
      <a routerLink='/contact' class="w3-bar-item w3-button">CONTATO</a>
    </div>
</div>

