<!-- Primeiro Parallax Image with Logo Text -->

<div class="parallax-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-light-grey w3-xlarge w3-wide w3-animate-opacity"> <span
        class="w3-hide-small">CUPUAÇÚ É</span> MELHOR QUE AÇAÍ
    </span>
  </div>
</div>

<div class="row mt-5 mb-5">
  <div class="col-md-12">
    <h1 class="w3-center">Produtos</h1>
  </div>
</div>

<div class="Produtos row mb-3">
  <div class="col-md-2 col-sm-6 col-xs-12 md-mb-30 sm-mb-30"></div>

  <div class="col-md-2 col-sm-6 col-xs-12 md-mb-30 sm-mb-30 mb-4">
    <div class="card " style="width: 18rem;">
      <img src="https://i.imgur.com/K29MZ3M.jpg" class="card-img-top" alt="Sorvete de Chocolate">
      <div class="card-body">
        <h5 class="card-title">Sorvete de Chocolate</h5>
        <p class="card-text">Venha saborear nossos deliciosos sorvetes de Chocolate.</p>
        <a routerLink='/contact' class="btn btn-outline-light w-100">COMPRAR</a>
      </div>
    </div>
  </div>

  <div class="col-md-1 col-sm-6 col-xs-12 md-mb-30 sm-mb-30"></div>

  <div class="col-md-2 col-sm-6 col-xs-12 md-mb-30 sm-mb-30 mb-4">
    <div class="card " style="width: 18rem;">
      <img src="https://i.imgur.com/deTc0nH.jpg" class="card-img-top" alt="Sorvete potinho">
      <div class="card-body">
        <h5 class="card-title">Sorvetes de potinho</h5>
        <p class="card-text">Venha saborear nossos deliciosos sorvetes de potinho.</p>
        <a routerLink='/contact' class="btn btn-outline-light w-100">COMPRAR</a>
      </div>
    </div>
  </div>

  <div class="col-md-1 col-sm-6 col-xs-12 md-mb-30 sm-mb-30"></div>

  <div class="col-md-2 col-sm-6 col-xs-12 md-mb-30 sm-mb-30">
    <div class="card " style="width: 18rem;">
      <img src="https://i.imgur.com/tkUEOJ8.jpg" class="card-img-top" alt="Sorvete de Doce de Leite">
      <div class="card-body">
        <h5 class="card-title">Sorvete de doce de Leite</h5>
        <p class="card-text">Venha saborear nossos deliciosos sorvetes de Doce de Leite.</p>
        <a routerLink='/contact' class="btn btn-outline-light w-100">COMPRAR</a>
      </div>
    </div>
  </div>


</div>
<div class="parallax-2 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-light-grey w3-xlarge w3-wide w3-animate-opacity">VENHA <span
        class="w3-hide-small">NOS </span>CONHECER
    </span>
  </div>
</div>

<div class="w3-row w3-center w3-light-grey w3-padding-16">
  <div class="w3-quarter w3-section">
      <span class="w3-xlarge">Aberto</span><br>
      24 horas por dia
  </div>
  <div class="w3-quarter w3-section">
      <span class="w3-xlarge">Entregamos</span><br>
      Por Delivery
  </div>
  <div class="w3-quarter w3-section">
      <span class="w3-xlarge">Atendimento</span><br>
      Personalizado
  </div>
  <div class="w3-quarter w3-section">
      <span class="w3-xlarge">Venha</span><br>
      Ser feliz
  </div>
</div>